# 4.8 Grouping Data & Aggregating Variables

## 4.8.1 Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

### Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

### Importing data sets

In [2]:
# Creating path variable
path = r'C:\Users\lisa_\02\2023 Instacart Basket Analysis'

In [3]:
#Importing order_products_merged.pkl
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# Check output
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

## 4.8.2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
# Check shape
ords_prods_merged.shape

(32404859, 18)

In [6]:
# Finding the aggregated mean of the order_number column grouped by department_id
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 4.8.3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

### - There are more department IDs and the means have changed.

## 4.8.4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [7]:
# Create max_order column using transform()
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Check output
ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [9]:
# Creating loyalty_flag column using loc()
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
# Print frequency of loyalty_flag column
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
# Check output of user_id, loyalty_flag and order_number columns
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10

## 4.8.5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [12]:
# Performing multiple aggregations
ords_prods_merged.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

### - Results show that loyal customers spend the least on their orders on average than regular and new customers. New customers spend the most on average.

## 4.8.6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria: 
### a) If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” 
### b) If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [13]:
# Create avg_price column using transform()
ords_prods_merged['avg_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
# Creating spending_flag column using loc()
ords_prods_merged.loc[ords_prods_merged['avg_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merged.loc[ords_prods_merged['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [15]:
# Removing row limits
pd.options.display.max_rows = None

In [16]:
# Check output
ords_prods_merged[['user_id', 'avg_price', 'spending_flag']].head(100)

    user_id  avg_price spending_flag
0         1   6.367797   Low spender
1         1   6.367797   Low spender
2         1   6.367797   Low spender
3         1   6.367797   Low spender
4         1   6.367797   Low spender
5         1   6.367797   Low spender
6         1   6.367797   Low spender
7         1   6.367797   Low spender
8         1   6.367797   Low spender
9         1   6.367797   Low spender
10       15   3.980556   Low spender
11       15   3.980556   Low spender
12       15   3.980556   Low spender
13       15   3.980556   Low spender
14       15   3.980556   Low spender
15       19   8.372059   Low spender
16       19   8.372059   Low spender
17       19   8.372059   Low spender
18       21   7.012683   Low spender
19       31   8.137793   Low spender
20       31   8.137793   Low spender
21       43   7.444898   Low spender
22       43   7.444898   Low spender
23       52   6.356287   Low spender
24       52   6.356287   Low spender
25       52   6.356287   Low spender
26       52   6.356287   Low spender
27       52   6.356287   Low spender
28       52   6.356287   Low spender
29       52   6.356287   Low spender
30       52   6.356287   Low spender
31       52   6.356287   Low spender
32       52   6.356287   Low spender
33       52   6.356287   Low spender
34       52   6.356287   Low spender
35       52   6.356287   Low spender
36       52   6.356287   Low spender
37       67   7.656790   Low spender
38       67   7.656790   Low spender
39       67   7.656790   Low spender
40       67   7.656790   Low spender
41       67   7.656790   Low spender
42       67   7.656790   Low spender
43       67   7.656790   Low spender
44       67   7.656790   Low spender
45       67   7.656790   Low spender
46       67   7.656790   Low spender
47       67   7.656790   Low spender
48       67   7.656790   Low spender
49       67   7.656790   Low spender
50       67   7.656790   Low spender
51       67   7.656790   Low spender
52       67   7.656790   Low spender
53       67   7.656790   Low spender
54       67   7.656790   Low spender
55       67   7.656790   Low spender
56       81   8.165385   Low spender
57       81   8.165385   Low spender
58       82   6.441221   Low spender
59       82   6.441221   Low spender
60       82   6.441221   Low spender
61       82   6.441221   Low spender
62       82   6.441221   Low spender
63       82   6.441221   Low spender
64       82   6.441221   Low spender
65       82   6.441221   Low spender
66       82   6.441221   Low spender
67       98   8.028000   Low spender
68       98   8.028000   Low spender
69       98   8.028000   Low spender
70       98   8.028000   Low spender
71       98   8.028000   Low spender
72       98   8.028000   Low spender
73       98   8.028000   Low spender
74      109   5.850725   Low spender
75      120   9.385714   Low spender
76      120   9.385714   Low spender
77      185   7.715000   Low spender
78      195   7.149730   Low spender
79      195   7.149730   Low spender
80      195   7.149730   Low spender
81      195   7.149730   Low spender
82      195   7.149730   Low spender
83      195   7.149730   Low spender
84      195   7.149730   Low spender
85      195   7.149730   Low spender
86      195   7.149730   Low spender
87      195   7.149730   Low spender
88      195   7.149730   Low spender
89      195   7.149730   Low spender
90      222   6.862397   Low spender
91      222   6.862397   Low spender
92      290   7.285597   Low spender
93      290   7.285597   Low spender
94      331   7.705128   Low spender
95      360  10.006250  High spender
96      377   8.496552   Low spender
97      387   7.396610   Low spender
98      420   7.387805   Low spender
99      420   7.387805   Low spender

In [17]:
# Check frequency of spending_flag
ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

## 4.8.7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
### a) If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
### b) If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
### c) If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [18]:
# Create med_days column using transform()
ords_prods_merged['med_days'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [19]:
# Creating frequency_flag column using loc()
ords_prods_merged.loc[ords_prods_merged['med_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merged.loc[(ords_prods_merged['med_days'] > 10) & (ords_prods_merged['med_days'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['med_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [20]:
# Check output
ords_prods_merged[['user_id', 'med_days', 'frequency_flag']].head(60)

    user_id  med_days         frequency_flag
0         1      20.5  Non-frequent customer
1         1      20.5  Non-frequent customer
2         1      20.5  Non-frequent customer
3         1      20.5  Non-frequent customer
4         1      20.5  Non-frequent customer
5         1      20.5  Non-frequent customer
6         1      20.5  Non-frequent customer
7         1      20.5  Non-frequent customer
8         1      20.5  Non-frequent customer
9         1      20.5  Non-frequent customer
10       15      10.0      Frequent customer
11       15      10.0      Frequent customer
12       15      10.0      Frequent customer
13       15      10.0      Frequent customer
14       15      10.0      Frequent customer
15       19       6.0      Frequent customer
16       19       6.0      Frequent customer
17       19       6.0      Frequent customer
18       21       7.5      Frequent customer
19       31       6.0      Frequent customer
20       31       6.0      Frequent customer
21       43      10.0      Frequent customer
22       43      10.0      Frequent customer
23       52       8.0      Frequent customer
24       52       8.0      Frequent customer
25       52       8.0      Frequent customer
26       52       8.0      Frequent customer
27       52       8.0      Frequent customer
28       52       8.0      Frequent customer
29       52       8.0      Frequent customer
30       52       8.0      Frequent customer
31       52       8.0      Frequent customer
32       52       8.0      Frequent customer
33       52       8.0      Frequent customer
34       52       8.0      Frequent customer
35       52       8.0      Frequent customer
36       52       8.0      Frequent customer
37       67       7.0      Frequent customer
38       67       7.0      Frequent customer
39       67       7.0      Frequent customer
40       67       7.0      Frequent customer
41       67       7.0      Frequent customer
42       67       7.0      Frequent customer
43       67       7.0      Frequent customer
44       67       7.0      Frequent customer
45       67       7.0      Frequent customer
46       67       7.0      Frequent customer
47       67       7.0      Frequent customer
48       67       7.0      Frequent customer
49       67       7.0      Frequent customer
50       67       7.0      Frequent customer
51       67       7.0      Frequent customer
52       67       7.0      Frequent customer
53       67       7.0      Frequent customer
54       67       7.0      Frequent customer
55       67       7.0      Frequent customer
56       81      30.0  Non-frequent customer
57       81      30.0  Non-frequent customer
58       82      11.5       Regular customer
59       82      11.5       Regular customer

In [21]:
# Check frequency
ords_prods_merged['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [22]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,med_days,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

## 4.8.9 Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [23]:
# Export ords_prods_merge to pkl
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))